<img src="../images/tinap.png" style="float: left; margin: 15px; height: 50px">

# Tina's Project - Ames House Sales Price Prediction

## 04. Kaggle Submissions

In [16]:
import numpy as np
import pandas as pd
import pickle

### Load the Test Dataset

In [17]:
df_test_1 = pd.read_csv('../data/test_ready.csv')
df_test_2 = pd.read_csv('../data/test_ready_2.csv')

### Load Models and Output the Submission csv

#### Model 1.1 - first feature sets with normal target variable

In [18]:
model_101 = pickle.load(open('model/model_101.model', 'rb'))

In [19]:
preds = model_101.predict(df_test_1.drop(columns = 'Id'))
d = {'SalePrice': preds}
m11_sub_df = pd.DataFrame(data = d, index = df_test_1['Id'])
m11_sub_df.head()

          SalePrice
Id
2658  132668.276543
2718  199534.595617
2414  223067.112990
1989   97930.008207
625   175288.837111

In [20]:
m11_sub_df.to_csv('../data/model_101_sub.csv')

#### Model 1.2 - first features sets with target variable in logarithm

In [21]:
model_102 = pickle.load(open('model/model_102.model', 'rb'))

In [22]:
preds = model_102.predict(df_test_1.drop(columns = 'Id'))
d = {'SalePrice': np.exp(preds)}
m12_sub_df = pd.DataFrame(data = d, index = df_test_1['Id'])
m12_sub_df.head()

          SalePrice
Id
2658  111407.799229
2718  184209.567015
2414  217590.613173
1989  101879.938318
625   176727.849575

In [23]:
m12_sub_df.to_csv('../data/model_102_sub.csv')

#### Model 2.1 - second features sets with normal target variable

In [28]:
model_201 = pickle.load(open('model/model_201.model', 'rb'))

In [29]:
preds = model_201.predict(df_test_2.drop(columns = 'Id'))
d = {'SalePrice': preds}
m21_sub_df = pd.DataFrame(data = d, index = df_test_2['Id'])
m21_sub_df.head()

          SalePrice
Id
2658  128556.459713
2718  200983.498667
2414  224048.985689
1989   98578.077734
625   179585.144103

In [30]:
m21_sub_df.to_csv('../data/model_201_sub.csv')

#### Model 2.2 - second features sets with target variable in logarithm

In [32]:
model_202 = pickle.load(open('model/model_202.model', 'rb'))

In [33]:
preds = model_202.predict(df_test_2.drop(columns = 'Id'))
d = {'SalePrice': np.exp(preds)}
m22_sub_df = pd.DataFrame(data = d, index = df_test_2['Id'])
m22_sub_df.head()

          SalePrice
Id
2658  119696.472403
2718  183920.451032
2414  220116.485071
1989  100713.836152
625   180078.477735

In [34]:
m22_sub_df.to_csv('../data/model_202_sub.csv')

### Summary
The best score I got from Kaggle is the one predicted from model 1.2.

### Find examples in the prediction (model 1.2)

#### Low price

In [40]:
house_id = 2658
df_test_1[df_test_1['Id'] == house_id][['Overall Qual', 'total_sqft', 'total_baths',
                                        'Garage Area', 'Neighborhood_OldTown']]

   Overall Qual  total_sqft  total_baths  Garage Area  Neighborhood_OldTown
0             6        2948          2.0          440                     1

In [41]:
m12_sub_df['SalePrice'][house_id]

111407.79922866772

#### Medium price

In [32]:
house_id = 1148
df_test_1[df_test_1['Id'] == house_id][['Overall Qual', 'total_sqft', 'total_baths',
                                        'Garage Area', 'Neighborhood_SawyerW']]

    Overall Qual  total_sqft  total_baths  Garage Area  Neighborhood_SawyerW
22             6        3221          3.0          533                     1

In [36]:
m12_sub_df['SalePrice'][house_id]

201563.63650397406

#### High price

In [34]:
house_id = 1103
df_test_1[df_test_1['Id'] == house_id][['Overall Qual', 'total_sqft', 'total_baths',
                                        'Garage Area', 'Neighborhood_NoRidge']]

    Overall Qual  total_sqft  total_baths  Garage Area  Neighborhood_NoRidge
60             8        3988          3.0          938                     1

In [35]:
m12_sub_df['SalePrice'][house_id]

307864.2750516214